## Minimal sample pound.cfg
##
## see pound(8) for details


######################################################################
## global options:

#User		"hudson"
#Group		"www-data"
#RootJail	"/chroot/pound"

## Logging: (goes to syslog by default)
##	0	no logging
##	1	normal
##	2	extended
##	3	Apache-style (common log format)
LogLevel	2

## check backend every X secs:
Alive		30

DynScale        1
Client          1

## use hardware-accelleration card supported by openssl(1):
#SSLEngine	"<hw>"


######################################################################
## listen, redirect and ... to:

## redirect all requests on port 8080 ("ListenHTTP") to the local webserver (see "Service" below):
ListenHTTP
        Address 0.0.0.0
        Port    8000

        ## allow PUT and DELETE also (by default only GET, POST and HEAD)?:
        xHTTP           0

        Service 
                BackEnd 
			# jboss1
                        Address 127.0.1.2
                        Port    8080
                End
                BackEnd 
			# jboss2
                        Address 127.0.1.1
                        Port    8080
                End
                Session
                      Type    COOKIE
                      ID      "JSESSIONID"
                      TTL     360
                End
        End
End
